[submodule "tapestry/rapidjson"]
	path = tapestry/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "tapestry/pistache"]
	path = tapestry/pistache
	url = https://github.com/alanbirtles/pistache.git
[submodule "tapestry/pbnj"]
	path = tapestry/pbnj
	url = https://github.com/seelabutk/pbnj.git
[submodule "tapestry/ospray"]
	path = tapestry/ospray
	url = https://github.com/ospray/ospray.git
[submodule "tapestry/enchiladas"]
	path = tapestry/enchiladas
	url = https://github.com/seelabutk/enchiladas.git
