[submodule "tapestry/rapidjson"]
	path = tapestry/rapidjson
	url = git@github.com:miloyip/rapidjson.git
[submodule "tapestry/pistache"]
	path = tapestry/pistache
	url = git@github.com:alanbirtles/pistache.git
[submodule "tapestry/pbnj"]
	path = tapestry/pbnj
	url = git@github.com:seelabutk/pbnj.git
[submodule "tapestry/ospray"]
	path = tapestry/ospray
	url = git@github.com:ospray/ospray.git
[submodule "tapestry/enchiladas"]
	path = tapestry/enchiladas
	url = git@github.com:seelabutk/enchiladas.git
